<%= form_with(model: competitor, local: true) do |form| %>
  <% if competitor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(competitor.errors.count, "error") %> prohibited this competitor from being saved:</h2>

      <ul>
      <% competitor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table id="customer">
    <thead>
      <tr>
        <th> <%= form.label :rep, "Sales rep" %> </th>
        <th> <%= form.label :customer, "Customer" %> </th>
        <th> <%= form.label :zip, "Zip" %> </th>
        <th> <%= form.label :source, "Source" %> </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> <%= form.text_field :rep, id: :competitor_rep %> </td>
        <td> <%= form.text_field :customer, id: :competitor_customer %> </td>
        <td> <%= form.text_field :zip, id: :competitor_zip %> </td>
        <td> <%= form.select :source, @source, {}, {:value => params[:source], :id => "competitor_source"} %> </td>
      </tr>
    </tbody>
  </table>

  <fieldset>
    <legend><strong>Competitor</strong></legend>
    <p>
      <table>
        <thead>
          <tr>
            <th> <%= form.label :competitor, "Name" %> </th>
            <th> <%= form.label :comp_type, "Type" %> </th>
            <th> <%= form.label :brand, "Brand" %> </th>
            <th> <%= form.label :sub_brand, "Sub brand" %> </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> <%= form.text_field :competitor, id: :competitor_competitor %> </td>
            <td> <%= form.select :comp_type, @type, {}, {:value => params[:comp_type], :id => "competitor_comp_type"} %> </td>
            <td> <%= form.text_field :brand, id: :competitor_brand %> </td>
            <td> <%= form.text_field :sub_brand, id: :competitor_sub_brand %> </td>
          </tr>
        </tbody>
      </table>
    </p>
  </fieldset>

  <fieldset>
    <legend><strong>Product Description</strong></legend>
    <p>
      <table>
        <thead>
          <tr>
            <th> <%= form.label :category %> </th>
            <th> <%= form.label :sub_category, "Sub category" %> </th>
            <th> <%= form.label :direct %> </th>
            <th> <%= form.label :sku, "SKU" %> </th>
            <th> <%= form.label :description %> </th>
            <th> <%= form.label :uom, "UOM" %> </th>
            <th> <%= form.label :weight %> </th>
            <th> <%= form.label :price%> </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> <%= form.text_field :category, size: 10, id: :competitor_category %> </td>
            <td> <%= form.text_field :sub_category, size: 10, id: :competitor_sub_category %> </td>
            <td> <%= form.check_box :direct, id: :competitor_direct %> </td>
            <td> <%= form.text_field :sku, size: 10, id: :sku %> </td>
            <td> <%= form.text_field :description, size: 15, id: :competitor_description %> </td>
            <td> <%= form.select :uom, @uom, {}, {:value => params[:uom], :id => "competitor_UOM"} %> </td>
            <td> <%= form.number_field :weight, min: 0, max: 10, id: :competitor_weight, :step => 0.1 %> </td>
            <td> <%= form.number_field :price, min: 0, max: 10, id: :competitor_price, :step => 0.01 %> </td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th> <%= form.label :grade %> </th>
            <th> <%= form.label :delivery %> </th>
            <th> <%= form.label :specs %> </th>
            <th> <%= form.label :fresh %> </th>
            <th> <%= form.label :abf, "ABF" %> </th>
            <th> <%= form.label :waterchilled, "Water chilled" %> </th>
            <th> <%= form.label :send_all, "Send all" %> </th>
            <th> <%= form.label :heritage %> </th>
            <th> <%= form.label :breed %> </th>
            <th> <%= form.label :grass_fed, "Grass fed" %> </th>
            <th> <%= form.label :organic %> </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> <%= form.select :grade, @grade, {}, {:value => params[:grade], :id => "competitor_grade"} %> </td>
            <td> <%= form.select :delivery, @delivery, {}, {:value => params[:delivery], :id => "competitor_delivery"} %> </td>
            <td> <%= form.text_field :specs, size: 15, id: :competitor_specs %> </td>
            <td> <%= form.check_box :fresh, id: :competitor_fresh %> </td>
            <td> <%= form.check_box :abf, id: :competitor_abf %> </td>
            <td> <%= form.check_box :waterchilled, id: :competitor_waterchilled %> </td>
            <td> <%= form.check_box :send_all, id: :competitor_send_all %> </td>
            <td> <%= form.check_box :heritage, id: :competitor_heritage %> </td>
            <td> <%= form.text_field :breed, size: 10, id: :competitor_breed %> </td>
            <td> <%= form.check_box :grass_fed, id: :competitor_grass_fed %> </td>
            <td> <%= form.check_box :organic, id: :competitor_organic %> </td>
          </tr>
        </tbody>
      </table>
    </p>
  </fieldset>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
