<p id="notice"><%= notice %></p>

<h1>Competitors</h1>

<table class="mytable" class="display" cellspacing="0" >
  <thead>
    <tr>
      <th>Rep</th>
      <th>Competitor</th>
      <th>Sku</th>
      <th>Customer</th>
      <th>Created</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @competitors.each do |competitor| %>
      <tr>
        <td><%= competitor.rep %></td>
        <td><%= competitor.competitor %></td>
        <td><%= competitor.sku %></td>
        <td><%= competitor.customer %></td>
        <td><%= display_date(competitor.created_at) %></td>
        <td><%= link_to 'Show', competitor %></td>
        <td><%= link_to 'Edit', edit_competitor_path(competitor) %></td>
        <td><%= link_to 'Delete', competitor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Competitor', new_competitor_path %>
