<p id="notice"><%= notice %></p>

<fieldset>
  <legend><strong>Customer</strong></legend>
  <p>
    <strong>Sales rep:</strong>
    <%= @competitor.rep %>
    <strong>Created:</strong>
    <%= display_date(@competitor.created_at) %>
    <strong>Effective:</strong>
    <%= display_effective_date(@competitor.created_at) %>
    <strong>Dart mkt:</strong>
    <%= @competitor.dart_mkt %>
    <strong>Customer:</strong>
    <%= @competitor.customer %>
    <strong>Zip:</strong>
    <%= @competitor.zip %>
    <strong>Source:</strong>
    <%= @competitor.source %>
  </p>
</fieldset>

<fieldset>
  <legend><strong>Competitor</strong></legend>
  <p>
    <strong>Competitor:</strong>
    <%= @competitor.competitor %>
    <strong>Type:</strong>
    <%= @competitor.comp_type %>
    <strong>Brand:</strong>
    <%= @competitor.brand %>
    <strong>Sub brand:</strong>
    <%= @competitor.sub_brand %>
  </p>
</fieldset>

<fieldset>
  <legend><strong>Product Description</strong></legend>
  <p>
    <strong>Category:</strong>
    <%= @competitor.category %>
    <strong>Sub category:</strong>
    <%= @competitor.sub_category %>
    <strong>Direct:</strong>
    <%= human_boolean(@competitor.direct) %>
    <strong>SKU:</strong>
    <%= @competitor.sku %>
    <strong>Description:</strong>
    <%= @competitor.description %>
    <strong>UOM:</strong>
    <%= @competitor.uom %><br><br>
    <strong>Weight:</strong>
    <%= @competitor.weight %>
    <strong>Price:</strong>
    <%= @competitor.price %>
    <strong>Price/lb:</strong>
    <%= (@competitor.price / @competitor.weight).round(2) %>
    <strong>Grade:</strong>
    <%= @competitor.grade %>
    <strong>Delivery:</strong>
    <%= @competitor.delivery %>
    <strong>Specs:</strong>
    <%= @competitor.specs %><br><br>
    <strong>Fresh:</strong>
    <%= human_boolean(@competitor.fresh) %>
    <strong>ABF:</strong>
    <%= human_boolean(@competitor.abf) %>
    <strong>Waterchilled:</strong>
    <%= human_boolean(@competitor.waterchilled) %>
    <strong>Send all:</strong>
    <%= human_boolean(@competitor.send_all) %>
    <strong>Heritage:</strong>
    <%= human_boolean(@competitor.heritage) %>
    <strong>Breed:</strong>
    <%= @competitor.breed %>
    <strong>Grass fed:</strong>
    <%= human_boolean(@competitor.grass_fed) %>
    <strong>Organic:</strong>
    <%= human_boolean(@competitor.organic) %>
  </p>
</fieldset>

<fieldset>
  <legend><strong>Dartagnan Equivalent</strong></legend>
  <p>
    <strong>Dart desc:</strong>
    <%= @competitor.dart_desc %>
    <strong>Dart price:</strong>
    <%= @competitor.dart_price %>
    <strong>Avg price:</strong>
    <%= @competitor.avg_price %>
    <strong>Dart UOM:</strong>
    <%= @competitor.dart_uom %>
    <strong>List price var:</strong>
    <%= @competitor.list_price_var %><br><br>
    <strong>Avg price var:</strong>
    <%= @competitor.avg_price_var %>
    <strong>Lb in reg:</strong>
    <%= @competitor.lb_in_reg %>
    <strong>Lb in sub reg:</strong>
    <%= @competitor.lb_in_sub_reg %>
    <strong>Lb in CBSA:</strong>
    <%= @competitor.lb_in_csa %>
    <strong>Dart delivery:</strong>
    <%= @competitor.dart_delivery %>
  </p>
</fieldset><br><br>

<%= link_to 'Edit', edit_competitor_path(@competitor) %>
<%= link_to 'List', competitors_path %>
