<p id="notice"><%= notice %></p>

<p>
  <strong>Rep:</strong>
  <%= @competitor.rep %>
</p>

<p>
  <strong>Competitor:</strong>
  <%= @competitor.competitor %>
</p>

<p>
  <strong>Comp type:</strong>
  <%= @competitor.comp_type %>
</p>

<p>
  <strong>Dart mkt:</strong>
  <%= @competitor.dart_mkt %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @competitor.zip %>
</p>

<p>
  <strong>Direct:</strong>
  <%= @competitor.direct %>
</p>

<p>
  <strong>Effective:</strong>
  <%= @competitor.effective %>
</p>

<p>
  <strong>Category:</strong>
  <%= @competitor.category %>
</p>

<p>
  <strong>Sub category:</strong>
  <%= @competitor.sub_category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @competitor.description %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @competitor.brand %>
</p>

<p>
  <strong>Sub brand:</strong>
  <%= @competitor.sub_brand %>
</p>

<p>
  <strong>Uom:</strong>
  <%= @competitor.uom %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @competitor.weight %>
</p>

<p>
  <strong>Price:</strong>
  <%= @competitor.price %>
</p>

<p>
  <strong>Price lb:</strong>
  <%= @competitor.price_lb %>
</p>

<p>
  <strong>Fresh:</strong>
  <%= @competitor.fresh %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @competitor.sku %>
</p>

<p>
  <strong>Dart desc:</strong>
  <%= @competitor.dart_desc %>
</p>

<p>
  <strong>Dart price:</strong>
  <%= @competitor.dart_price %>
</p>

<p>
  <strong>Avg price:</strong>
  <%= @competitor.avg_price %>
</p>

<p>
  <strong>Dart uom:</strong>
  <%= @competitor.dart_uom %>
</p>

<p>
  <strong>List price var:</strong>
  <%= @competitor.list_price_var %>
</p>

<p>
  <strong>Avg price var:</strong>
  <%= @competitor.avg_price_var %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @competitor.customer %>
</p>

<p>
  <strong>Lb in reg:</strong>
  <%= @competitor.lb_in_reg %>
</p>

<p>
  <strong>Lb in sub reg:</strong>
  <%= @competitor.lb_in_sub_reg %>
</p>

<p>
  <strong>Lb in csa:</strong>
  <%= @competitor.lb_in_csa %>
</p>

<p>
  <strong>Source:</strong>
  <%= @competitor.source %>
</p>

<p>
  <strong>Delivery:</strong>
  <%= @competitor.delivery %>
</p>

<p>
  <strong>Dart delivery:</strong>
  <%= @competitor.dart_delivery %>
</p>

<p>
  <strong>Abf:</strong>
  <%= @competitor.abf %>
</p>

<p>
  <strong>Waterchilled:</strong>
  <%= @competitor.waterchilled %>
</p>

<p>
  <strong>Send all:</strong>
  <%= @competitor.send_all %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @competitor.grade %>
</p>

<p>
  <strong>Specs:</strong>
  <%= @competitor.specs %>
</p>

<p>
  <strong>Heritage:</strong>
  <%= @competitor.heritage %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @competitor.breed %>
</p>

<p>
  <strong>Grass fed:</strong>
  <%= @competitor.grass_fed %>
</p>

<p>
  <strong>Organic:</strong>
  <%= @competitor.organic %>
</p>

<%= link_to 'Edit', edit_competitor_path(@competitor) %> |
<%= link_to 'Back', competitors_path %>
